.container {
  position: relative;
  width: 100vw;
  height: 100vh;

  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;

    .pointerReset {
      pointer-events: auto;
    }

    .instructions,
    .scoreContainer {
      position: absolute;
      bottom: 2rem;
      left: 0;
      right: 0;
      width: auto;
      height: auto;
      display: none;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      line-height: 0;
      color: #fff;
      text-shadow: 0 0 10px #000;
      z-index: 2;

      @media screen and (min-width: 600px) {
        display: flex;
      }
      
      .score {
        display: inline-block;
        padding: 0.5em 1em;
        transition: transform 0.3s ease-in-out;
      }

      .animate {
        transform: scale(1.5);
      }
    }
  }
}
